Repository MateoBohorquezUniandes/MISW4501-2024-11-14-Proyecto-Final, pull requests merged in 2024-04, with the labels that each got.

#21 feat(ci): ci pipelines para microservicios
  .github/workflows/autenticador_ci.yml
  .github/workflows/usuarios_ci.yml
Labels: chore:CI/CD

#20 feat(global): mejoras a seedwork y archivos de configuración
  .github/CONTRIBUTING.md
  .github/workflows/pull_request_checks.yml
  create_microservice.sh
  src/seedwork/application/commands.py
  src/seedwork/application/queries.py
  src/seedwork/domain/events.py
  src/seedwork/domain/factories.py
  src/seedwork/domain/mixins.py
  src/seedwork/domain/repositories.py
  src/seedwork/domain/rules.py
  src/seedwork/domain/value_objects.py
  src/seedwork/infrastructure/dispatchers.py
  src/seedwork/infrastructure/schema/__init__.py
  src/seedwork/infrastructure/schema/v1/__init__.py
  src/seedwork/infrastructure/schema/v1/commands.py
  src/seedwork/infrastructure/schema/v1/events.py
  src/seedwork/infrastructure/schema/v1/mappers.py
  src/seedwork/infrastructure/schema/v1/messages.py
  src/seedwork/infrastructure/services.py
  src/seedwork/infrastructure/uow.py
  src/seedwork/presentation/exceptions.py
Labels: feat:seedwork

#23 feat(ci): definición de pull request triggers
  .github/workflows/autenticador_ci.yml
  .github/workflows/usuarios_ci.yml
Labels: chore:CI/CD

#24 feat(ci): pipeline triggers para main target
  .github/workflows/autenticador_ci.yml
  .github/workflows/usuarios_ci.yml
Labels: chore:CI/CD

#25 feat(global): configuracion infraestructura con terraform
  .gitignore
  terraform/.gitignore
  terraform/.terraform-version
  terraform/infrastructure/.terraform.lock.hcl
  terraform/infrastructure/main.tf
  terraform/infrastructure/modules/artifactregistry/main.tf
  terraform/infrastructure/modules/artifactregistry/outputs.tf
  terraform/infrastructure/modules/artifactregistry/variables.tf
  terraform/infrastructure/modules/artifactregistry/versions.tf
  terraform/infrastructure/modules/cloudsql/main.tf
  terraform/infrastructure/modules/cloudsql/outputs.tf
  terraform/infrastructure/modules/cloudsql/services.tf
  terraform/infrastructure/modules/cloudsql/variables.tf
  terraform/infrastructure/modules/cloudsql/versions.tf
  terraform/infrastructure/modules/cloudtasks/main.tf
  terraform/infrastructure/modules/cloudtasks/outputs.tf
  terraform/infrastructure/modules/cloudtasks/variables.tf
  terraform/infrastructure/modules/cloudtasks/versions.tf
  terraform/infrastructure/modules/service_account/main.tf
  terraform/infrastructure/modules/service_account/variables.tf
  terraform/infrastructure/modules/service_account/versions.tf
  terraform/infrastructure/modules/subnet/main.tf
  terraform/infrastructure/modules/subnet/outputs.tf
  terraform/infrastructure/modules/subnet/variables.tf
  terraform/infrastructure/modules/subnet/versions.tf
  terraform/infrastructure/modules/vpc/main.tf
  terraform/infrastructure/modules/vpc/outputs.tf
  terraform/infrastructure/modules/vpc/services.tf
  terraform/infrastructure/modules/vpc/variables.tf
  terraform/infrastructure/modules/vpc/versions.tf
  terraform/infrastructure/providers.tf
  terraform/infrastructure/variables.tf
  terraform/infrastructure/versions.tf
Labels: chore:infrasturcture

#26 feat(usuario):HU008 Afiliacion plan gratuito
  .github/workflows/pull_request_checks.yml
  .gitignore
  README.md
  src/monitor/outputs/samples/checksum-sample.csv
  src/monitor/outputs/samples/healthcheck-sample.csv
  src/usuarios/application/commands/create_usuario.py
  src/usuarios/application/dtos.py
  src/usuarios/application/mappers.py
  src/usuarios/domain/entities.py
  src/usuarios/domain/exceptions.py
  src/usuarios/domain/rules.py
  src/usuarios/domain/value_objects.py
  src/usuarios/infrastructure/dtos.py
  src/usuarios/infrastructure/mappers.py
  src/usuarios/tests/test_api.py
Labels: type:HU, feat:usuarios

#32 Feat/planesHU029 Listar planes asociados
  .github/workflows/pull_request_checks.yml
  collections/planes.json
  src/planes/application/exceptions.py
  src/planes/application/queries/get_planes_asociados_usuario.py
  src/planes/presentation/api.py
  src/planes/tests/test_api.py
Labels: type:HU

#35 feat(dc): deployment
  .github/workflows/deploy_cd.yml
Labels: chore:CI/CD

#36 feat(cd): github action to remove k8s
  .github/workflows/down_cd.yml
Labels: chore:CI/CD, chore:deployment

#37 fix(cd): added missing env
  .github/workflows/down_cd.yml
Labels: chore:release, chore:CI/CD, chore:deployment

#38 chore(cd): ajustes en k8s para uso de volumenes
  deployment-unused/deployment-monitor.yaml
  deployment/deployment-perfiles.yaml
  deployment/deployment-usuarios.yaml
Labels: chore:CI/CD, chore:deployment

#39 chore(cd): agregar volume mounts
  deployment/deployment-perfiles.yaml
  deployment/deployment-usuarios.yaml
Labels: chore:CI/CD, chore:deployment

#40 fix(auth): updated auth token
  deployment/deployment-usuarios.yaml
Labels: chore:CI/CD, chore:deployment

#30 Feat(habitos-deportivos): servicion creacion habito deportivo
  collections/perfiles.json
  docker-compose.yml
  src/perfiles/app.py
  src/perfiles/application/commands/crear_habito_deportivo.py
  src/perfiles/application/dtos.py
  src/perfiles/application/mappers.py
  src/perfiles/application/queries/get_perfiles.py
  src/perfiles/domain/entities.py
  src/perfiles/domain/factories.py
  src/perfiles/domain/repositories.py
  src/perfiles/domain/rules.py
  src/perfiles/domain/value_objects.py
  src/perfiles/infrastructure/dtos.py
  src/perfiles/infrastructure/factories.py
  src/perfiles/infrastructure/mappers.py
  src/perfiles/infrastructure/repositories.py
  src/perfiles/presentation/api.py
  src/perfiles/tests/test_api.py
Labels: feat:perfiles, type:HU

#43 feat(sesiones): inicio y fin de sesion deportiva
  .github/workflows/sesiones_ci.yml
  collections/sesiones.json
  deployment/deployment-sesiones.yaml
  docker-compose.yml
  envs/.env.sesiones.local
  sesiones.Dockerfile
  src/sesiones/.pytest.ini
  src/sesiones/Pipfile
  src/sesiones/Pipfile.lock
  src/sesiones/__init__.py
  src/sesiones/app.py
  src/sesiones/application/__init__.py
  src/sesiones/application/commands/__init__.py
  src/sesiones/application/commands/base.py
  src/sesiones/application/commands/create_sesion.py
  src/sesiones/application/commands/end_sesion.py
  src/sesiones/application/dtos.py
  src/sesiones/application/exceptions.py
  src/sesiones/application/mappers.py
  src/sesiones/application/queries/__init__.py
  src/sesiones/application/queries/base.py
  src/sesiones/domain/__init__.py
  src/sesiones/domain/entities.py
  src/sesiones/domain/events.py
  src/sesiones/domain/exceptions.py
  src/sesiones/domain/factories.py
  src/sesiones/domain/repositories.py
  src/sesiones/domain/rules.py
  src/sesiones/domain/value_objects.py
  src/sesiones/infrastructure/__init__.py
  src/sesiones/infrastructure/auth.py
  src/sesiones/infrastructure/db.py
  src/sesiones/infrastructure/dispatchers.py
  src/sesiones/infrastructure/dtos.py
  src/sesiones/infrastructure/exceptions.py
  src/sesiones/infrastructure/factories.py
  src/sesiones/infrastructure/mappers.py
  src/sesiones/infrastructure/repositories.py
  src/sesiones/infrastructure/schema/__init__.py
  src/sesiones/infrastructure/services.py
  src/sesiones/infrastructure/uwo.py
  src/sesiones/presentation/__init__.py
  src/sesiones/presentation/commands.py
  src/sesiones/presentation/handlers.py
  src/sesiones/presentation/queries.py
  src/sesiones/tests/__init__.py
  src/sesiones/tests/conftest.py
  src/sesiones/tests/test_api.py
Labels: type:HU, feat:sesiones

#42 chore(infrastructure): configuracion ip estatica para kubernetes cluster
  deployment/ingress.yaml
  terraform/infrastructure/main.tf
  terraform/infrastructure/modules/static_ip/main.tf
  terraform/infrastructure/modules/static_ip/variables.tf
  terraform/infrastructure/modules/static_ip/versions.tf
Labels: chore:deployment, chore:infrasturcture

#47 feat(HU026): envio de parametros de sesiones a indicadores
  deployment/deployment-sesiones.yaml
  envs/.env.sesiones.local
  src/seedwork/domain/events.py
  src/sesiones/application/__init__.py
  src/sesiones/application/commands/end_sesion.py
  src/sesiones/application/handlers.py
  src/sesiones/domain/entities.py
  src/sesiones/domain/events.py
  src/sesiones/infrastructure/dispatchers.py
  src/sesiones/infrastructure/factories.py
  src/sesiones/infrastructure/schema/commands.py
  src/sesiones/infrastructure/schema/mappers.py
  src/sesiones/infrastructure/services.py
  src/sesiones/infrastructure/uwo.py
Labels: type:HU, feat:sesiones

#52 Feat(productos): crear y obtener productos
  .github/workflows/productos_ci.yml
  collections/productos.json
  deployment/deployment-productos.yaml
  docker-compose.yml
  envs/.env.productos.local
  productos.Dockerfile
  src/productos/Pipfile
  src/productos/Pipfile.lock
  src/productos/__init__.py
  src/productos/app.py
  src/productos/application/__init__.py
  src/productos/application/commands/__init__.py
  src/productos/application/commands/base.py
  src/productos/application/commands/create_producto.py
  src/productos/application/dtos.py
  src/productos/application/exceptions.py
  src/productos/application/handlers.py
  src/productos/application/mappers.py
  src/productos/application/queries/__init__.py
  src/productos/application/queries/base.py
  src/productos/application/queries/get_productos.py
  src/productos/domain/__init__.py
  src/productos/domain/entities.py
  src/productos/domain/events.py
  src/productos/domain/exceptions.py
  src/productos/domain/factories.py
  src/productos/domain/repositories.py
  src/productos/domain/rules.py
  src/productos/domain/value_objects.py
  src/productos/infrastructure/__init__.py
  src/productos/infrastructure/auth.py
  src/productos/infrastructure/consumers.py
  src/productos/infrastructure/db.py
  src/productos/infrastructure/dispatchers.py
  src/productos/infrastructure/dtos.py
  src/productos/infrastructure/exceptions.py
  src/productos/infrastructure/factories.py
  src/productos/infrastructure/mappers.py
  src/productos/infrastructure/repositories.py
  src/productos/infrastructure/schema/__init__.py
  src/productos/infrastructure/services.py
  src/productos/infrastructure/uow.py
  src/productos/presentation/__init__.py
  src/productos/presentation/commands.py
  src/productos/presentation/handlers.py
  src/productos/presentation/queries.py
  src/productos/tests/__init__.py
  src/productos/tests/conftest.py
  src/productos/tests/test_api.py
Labels: type:HU, feat:productos

#50 feat(planes): asociar planes utilizando deporte y riesgo del perfil demografico
  collections/planes.json
  src/planes/application/commands/asociar_entrenamiento.py
  src/planes/application/commands/asociar_plan_entrenamiento.py
  src/planes/application/mappers.py
  src/planes/domain/factories.py
  src/planes/domain/value_objects.py
  src/planes/infrastructure/repositories.py
  src/planes/presentation/commands.py
  src/planes/tests/test_api.py
Labels: type:HU, feat:planes

#55 feat(k8s): actualizacion de urls para eventos de integracion
  deployment/deployment-perfiles.yaml
  deployment/deployment-usuarios.yaml
Labels: chore:deployment

#56 fix(deployment): fix on yamls
  deployment/deployment-eventos.yaml
  deployment/deployment-productos.yaml
Labels: chore:deployment

#57 chore(delivery): nuevos microservicios
  .github/workflows/deploy_cd.yml
Labels: chore:CI/CD, chore:deployment

#58 fix(sprint2): mejoras en entrega parcial sprint 2
  deployment/ingress.yaml
  src/planes/presentation/commands.py
Labels: type:HU

#61 feat(sesiones): obtener sesiones de un usuario
  .github/workflows/sesiones_ci.yml
  collections/sesiones.json
  src/sesiones/app.py
  src/sesiones/application/dtos.py
  src/sesiones/application/exceptions.py
  src/sesiones/application/mappers.py
  src/sesiones/application/queries/base.py
  src/sesiones/application/queries/get_sesion.py
  src/sesiones/application/queries/get_sesiones.py
  src/sesiones/domain/entities.py
  src/sesiones/domain/value_objects.py
  src/sesiones/infrastructure/services.py
  src/sesiones/presentation/queries.py
Labels: type:HU, feat:sesiones

#63 feat(sesiones): calcular indicadores al finalizar sesion
  src/sesiones/domain/value_objects.py
  src/sesiones/infrastructure/dispatchers.py
Labels: type:HU, feat:sesiones

#64 chore(indicadores) agregar imagen al pipeline
  .github/workflows/deploy_cd.yml
Labels: chore:release, chore:CI/CD

#65 fix(sprint2): payload correcto de sesiones a indicadores
  collections/indicadores.json
  src/indicadores/presentation/commands.py
  src/indicadores/tests/test_api.py
  src/sesiones/infrastructure/dispatchers.py
  src/sesiones/infrastructure/schema/commands.py
  src/sesiones/infrastructure/schema/mappers.py
Labels: feat:sesiones

#66 fir(indicadores): se agrega al ingress
  deployment/ingress.yaml
Labels: chore:CI/CD, chore:deployment

#69 fix(sesiones): configuracion cloud tasks
  deployment/deployment-sesiones.yaml
Labels: chore:CI/CD
