Repository MateoBohorquezUniandes/MISW4501-2024-11-14-Proyecto-Final, pull requests merged in 2024-02, with the labels that each got.

#3 feat(ASR004): implementacion inicial de microservicio perfiles
  envs/.env.db.local
  envs/.env.perfiles.local
  perfiles.Dockerfile
  src/perfiles/Pipfile
  src/perfiles/Pipfile.lock
  src/perfiles/__init__.py
  src/perfiles/app.py
  src/perfiles/application/__init__.py
  src/perfiles/application/commands/__init__.py
  src/perfiles/application/mappers.py
  src/perfiles/application/queries/__init__.py
  src/perfiles/application/queries/base.py
  src/perfiles/application/queries/get_perfil_demografico.py
  src/perfiles/domain/__init__.py
  src/perfiles/domain/entities.py
  src/perfiles/domain/value_objects.py
  src/perfiles/infrastructure/__init__.py
  src/perfiles/infrastructure/db.py
  src/perfiles/presentation/__init__.py
  src/perfiles/presentation/api.py
  src/perfiles/presentation/handlers.py
  src/seedwork/__init__.py
  src/seedwork/application/__init__.py
  src/seedwork/application/commands.py
  src/seedwork/application/dtos.py
  src/seedwork/application/handlers.py
  src/seedwork/application/queries.py
  src/seedwork/application/services.py
  src/seedwork/domain/__init__.py
  src/seedwork/domain/entities.py
  src/seedwork/domain/events.py
  src/seedwork/domain/exceptions.py
  src/seedwork/domain/factories.py
  src/seedwork/domain/mixins.py
  src/seedwork/domain/repositories.py
  src/seedwork/domain/rules.py
  src/seedwork/domain/services.py
  src/seedwork/domain/value_objects.py
  src/seedwork/infrastructure/__init__.py
  src/seedwork/infrastructure/db.py
  src/seedwork/infrastructure/exceptions.py
  src/seedwork/infrastructure/uow.py
  src/seedwork/presentation/__init__.py
  src/seedwork/presentation/api.py
  src/seedwork/presentation/exceptions.py
Labels: feat:perfiles, type:ASR

#1 Registrar usuario y Dockerfiles
  docker-compose.yml
  envs/.env.usuarios.local
  src/usuarios/Pipfile
  src/usuarios/Pipfile.lock
  src/usuarios/__init__.py
  src/usuarios/app.py
  src/usuarios/blueprints/__init__.py
  src/usuarios/blueprints/usuarios.py
  src/usuarios/commands/__init__.py
  src/usuarios/commands/base_command.py
  src/usuarios/commands/crear_usuario.py
  src/usuarios/commands/db_restore.py
  src/usuarios/commands/generar_token.py
  src/usuarios/commands/utils.py
  src/usuarios/errors/__init__.py
  src/usuarios/errors/errors.py
  src/usuarios/models/__init__.py
  src/usuarios/models/model.py
  usuarios.Dockerfile
Labels: type:ASR, feat:usuarios

#4 chore(perfiles): modificaciones en dependencias y Dockerfile
  .gitignore
  perfiles.Dockerfile
  src/perfiles/Pipfile
  src/perfiles/Pipfile.lock
Labels: feat:perfiles, chore:release, type:ASR
