Repository MateoBohorquezUniandes/MISW4501-2024-11-14-Proyecto-Final, pull requests merged in 2024-03, with the labels that each got.

#6 feat(asr004): implementacion de JWT para tokens
  docker-compose.yml
  envs/.env.jwt.local
  src/perfiles/Pipfile
  src/perfiles/Pipfile.lock
  src/perfiles/app.py
  src/perfiles/infrastructure/jwt.py
  src/perfiles/presentation/api.py
  src/seedwork/infrastructure/exceptions.py
  src/seedwork/infrastructure/jwt.py
  src/usuarios/app.py
  src/usuarios/infrastructure/__init__.py
  src/usuarios/infrastructure/jwt.py
Labels: feat:perfiles, type:ASR

#7 fix(perfil): cambio en el api de perfiles
  src/perfiles/presentation/api.py
Labels: type:ASR, fix/perfiles

#11 feat(perfiles): checksum en cada request
  src/perfiles/app.py
Labels: feat:perfiles, type:ASR

#8 feat(k8s): configuracion de kubernetes para experimentos
  create_image.sh
  create_k8_deployment.sh
  deployment/deployment-autenticador.yaml
  deployment/deployment-monitor.yaml
  deployment/deployment-perfiles.yaml
  deployment/deployment-usuarios.yaml
  deployment/ingress.yaml
  docker-compose.yml
  perfiles.Dockerfile
  usuarios.Dockerfile
Labels: feat:perfiles, type:ASR, feat:usuarios, chore:deployment

#13 fix(perfiles): cambios en gestion de checksum
  docker-compose.yml
  envs/.env.perfiles.local
  src/perfiles/app.py
  src/perfiles/presentation/api.py
Labels: type:ASR, fix/perfiles

#12 feat(monitor): creacion monitor
  docker-compose.yml
  monitor.Dockerfile
  src/monitor/.env.monitor.local
  src/monitor/Pipfile
  src/monitor/Pipfile.lock
  src/monitor/__init__.py
  src/monitor/app.py
  src/monitor/application/__init__.py
  src/monitor/application/scheduler.py
  src/monitor/outputs/1.csv
  src/monitor/presentation/__init__.py
  src/monitor/presentation/api.py
Labels: type:ASR, feat:monitor

#16 feat(sportapp): experimentos de arquitectura
  .gitignore
  docker-compose.yml
  envs/.env.usuarios.local
  jwt.Dockerfile
  src/jwt_api_auth/Pipfile
  src/jwt_api_auth/Pipfile.lock
  src/jwt_api_auth/__init__.py
  src/jwt_api_auth/app.py
  src/jwt_api_auth/application/__init__.py
  src/jwt_api_auth/application/commands/__init__.py
  src/jwt_api_auth/application/commands/base.py
  src/jwt_api_auth/application/commands/create_token.py
  src/jwt_api_auth/application/commands/create_token_alt.py
  src/jwt_api_auth/application/dtos.py
  src/jwt_api_auth/application/exception.py
  src/jwt_api_auth/application/mappers.py
  src/jwt_api_auth/application/queries/__init__.py
  src/jwt_api_auth/application/queries/validate_token.py
  src/jwt_api_auth/config/__init__.py
  src/jwt_api_auth/domain/__init__.py
  src/jwt_api_auth/domain/entities.py
  src/jwt_api_auth/domain/value_objects.py
  src/jwt_api_auth/infrastructure/__init__.py
  src/jwt_api_auth/infrastructure/db.py
  src/jwt_api_auth/infrastructure/dto.py
  src/jwt_api_auth/infrastructure/repositories.py
  src/jwt_api_auth/presentation/__init__.py
  src/jwt_api_auth/presentation/api.py
  src/monitor/.env.monitor.local
  src/monitor/application/scheduler.py
  src/monitor/outputs/1.csv
  src/monitor/outputs/samples/checksum-sample.csv
  src/monitor/outputs/samples/healthcheck-sample.csv
  src/usuarios/app.py
  src/usuarios/blueprints/usuarios.py
  src/usuarios/commands/crear_usuario.py
  src/usuarios/models/model.py
Labels: feat:perfiles, chore:release, type:ASR, feat:usuarios, feat:monitor

#15 feat(perfiles): checksum condicional
  envs/.env.perfiles.local
  src/perfiles/app.py
Labels: feat:perfiles, type:ASR

#17 fix(experimentos): arreglos para ASR002 ASR003 y ASR004
  .gitignore
  create_image.sh
  create_k8_deployment.sh
  deployment/deployment-autenticador.yaml
  deployment/deployment-monitor.yaml
  deployment/deployment-perfiles.yaml
  deployment/deployment-usuarios.yaml
  src/jwt_api_auth/app.py
  src/perfiles/app.py
Labels: type:ASR, fix:perfiles, fix:autenticador
